{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
